[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ply = "==3.11"

[dev-packages]
mypy = "==0.812"
flake8 = "==3.8.4"
isort = "==5.7.0"
pytest = "==6.2.2"
sphinx = "==3.5.4"
rinohtype = "==0.5.2"
coverage = "==5.5"

[requires]
python_version = "3.9"




